@media (prefers-color-scheme: light) {
    :root {
        --text: rgb(15, 26, 18);
        --background: rgb(246, 249, 247);
        --primary: rgb(52, 91, 62);
        --secondary: rgb(142, 190, 183);
        --accent: rgb(82, 142, 140);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: rgb(228, 239, 231);
        --background: rgb(5, 8, 6);
        --primary: rgb(165, 203, 175);
        --secondary: rgb(65, 113, 106);
        --accent: rgb(114, 174, 172);
    }
}
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--text);
}
#current {
    color: var(--accent);
}
#navbar {
    position: fixed;
    display: flex;
    height: 20px;
    width: 100%;
    z-index: 10;
}

#navbar a {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#body {
    z-index: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(var(--background), var(--secondary));
}

#bodycmc {
    z-index: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(var(--background), var(--secondary));
    display: grid;
    place-items: center;
}

#downloadbutton {
    height: 150px;
    width: 200px;
    background-image: linear-gradient(var(--primary), var(--accent));
    border-radius: 10px;
    display: grid;
    place-content: center;
    color: var(--background);
}

#maincarddiv {
    display: grid;
    width: 100%;
    height: calc(100vh - 200px);
    background-color: var(--background);
}

.cards {
    height: 50%;
    width: 33%;
    border-radius: 10px;
    background-color: var(--background);
}

#paypal-button-container {
    margin: 25%;
    width: 50%;
    height: 50%;
}

#contact {
    margin: 25%;
    width: 50%;
    height: 50%;
}