@media (prefers-color-scheme: light) {
    :root {
        --text: rgb(15, 26, 18);
        --background: rgb(246, 249, 247);
        --primary: rgb(52, 91, 62);
        --secondary: rgb(142, 190, 183);
        --accent: rgb(82, 142, 140);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: rgb(228, 239, 231);
        --background: rgb(5, 8, 6);
        --primary: rgb(165, 203, 175);
        --secondary: rgb(65, 113, 106);
        --accent: rgb(114, 174, 172);
    }
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--text);
    overflow-y: hidden;
}
#current {
    color: var(--accent);
}
#navbar {
    position: fixed;
    display: flex;
    height: 20px;
    width: 100%;
    z-index: 10;
}

#navbar a {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#body {
    z-index: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(var(--background), var(--secondary));
}

#bodycmc {
    z-index: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(var(--background), var(--secondary));
    display: grid;
    place-items: center;
}

#downloadbutton {
    height: 150px;
    width: 200px;
    background-image: linear-gradient(var(--primary), var(--accent));
    border-radius: 10px;
    display: grid;
    place-content: center;
    color: var(--background);
}

#maincarddiv {
    display: grid;
    width: 100%;
    height: calc(100vh - 200px);
    margin-top: 200px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

.cards {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 10px;

    opacity: 75%;
    overflow: hidden;

    background-color: var(--background);
    transition: all 250ms;
}

.cards:hover {

    width: calc(100% + 4px);
    height: calc(100% + 4px);
    margin-left: -2px;
    margin-top: -2px;
    opacity: 90%;

}

.cards h1 {

    position: relative;
    margin: 5%;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    pointer-events: none;

}

.cards p {

    position: relative;
    margin: 5% 5%;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    pointer-events: none;
    font-size: 110%;

}

.cards img {

    position: absolute;
    overflow: hidden;

    width: 54.35%;
    opacity: 50%;

    margin-top: -2.4%;
    margin-left: -2.4%;

    mask: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 35%);
    transition: all 250ms;

}

.cards:hover img {

    width: 55%;

}

#contact {
    margin: 25%;
    width: 50%;
    height: 50%;
}



#maintutorialcarddiv {
    display: grid;
    width: 100%;
    height: calc(100vh - 200px);
    margin-top: 200px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

.tutorialcardscards {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 10px;

    opacity: 75%;
    overflow: hidden;

    background-color: var(--background);
    transition: all 250ms;
}

.tutorialcardscards:hover {

    width: calc(100% + 4px);
    height: calc(100% + 4px);
    margin-left: -2px;
    margin-top: -2px;
    opacity: 90%;

}

.tutorialcardscards h1 {

    position: relative;
    margin: 5%;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    pointer-events: none;

}

.tutorialcardscards p {

    position: relative;
    margin: 5% 5%;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    pointer-events: none;
    font-size: 110%;

}

.tutorialcardscards img {

    position: absolute;
    overflow: hidden;

    width: 54.35%;
    opacity: 50%;

    margin-top: -2.4%;
    margin-left: -2.4%;

    mask: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 35%);
    transition: all 250ms;

}

.tutorialcardscards:hover img {

    width: 55%;

}

@media only screen and (max-width: 768px) {

    #maincarddiv {
        display: grid;
        width: 100%;
        height: calc(100vh - 200px);
        margin-top: 200px;
        grid-template-rows: 50% 50% 50% 50% 50% 50%;
        grid-template-columns: 100%;
        overflow: hidden;
    }

    .cards img {

        position: absolute;
        overflow: hidden;

        width: 106.7%;
        opacity: 50%;

        margin-top: -4%;
        margin-left: -4%;

        mask: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 35%);
        transition: all 250ms;

    }

    .cards:hover img {

        width: 108%;

    }

}
